[submodule "Internet"]
	path = Internet
	url = https://github.com/norayr/Internet
[submodule "Time"]
	path = Time
	url = https://github.com/norayr/Time
[submodule "fifo"]
	path = fifo
	url = https://github.com/norayr/fifo
[submodule "lists"]
	path = lists
	url = https://github.com/norayr/lists
